
.gitignore
.htaccess
.git
favicon.ico
Modification du site.txt
recaptcha.php
img/
assets/
css/
js/form-scripts.js
js/jquery-1.11.2.min
js/validator.min.js
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

font/
webfonts/
pokemon-master/
blueasy/
doc/
flappy-mario/
img/
vins-francais/
snowagency/