
.gitignore
.htaccess
.git
hcaptcha.php
--style.css
screenshot.png
favicon.ico
Modification du site.txt
recaptcha.php
uploads/
images/
assets/bootstrap/
assets/bootstrap-5.2/
assets/font-awesome/
assets/fontawesome6/
assets/js/form-scripts.js
assets/js/friendly-captcha.js
assets/js/wysistat-analytic.js
assets/js/jquery-1.11.2.min.js
assets/js/jquery-3.5.1.min.js
assets/js/popper.min.js
assets/js/validator.min.js
font/
template-parts/header/head-meta-google.php
template-parts/header/head-meta.php
template-parts/content/content-portfolio-img-copy.php

# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

