
.gitignore
.htaccess
.git
akaleya-V-1.0/
# pages test à suppr quand terminé
page-test.php
page-testsauv.php
favicon.ico
Modification du site.txt
recaptcha.php
google.php
google-tag-manager.php
uploads/
img/
css/
assets/bootstrap/
assets/font-awesome/
assets/js/form-scripts.js
assets/js/jquery-1.11.2.min.js
assets/js/jquery-3.5.1.min.js
assets/js/popper.min.js
assets/js/validator.min.js
google.php
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

font/
webfonts/
pokemon-master/
blueasy/
doc/
flappy-mario/
img/
vins-francais/
snowagency/