body{font-family: Arial, Helvetica, sans-serif; font-size: 100%;     }
body,html{scroll-behavior: smooth;}
.pt-9{padding-top: 9rem;}
.pb-sm-6{padding-bottom: 4rem;}
ul li {list-style: none;}
ul{margin-bottom: 0!important; padding-left: 0!important;}
/* Colors */
.text-prune-dark{color: rgb(91,19,60);}
::placeholder{color: rgb(91,19,60);}
.text-white{ color: #fff;}
.text-prune{color: rgb(145,33,92);}
.text-blue{  color: rgb(97,190,223);}
.bg-blue{background-color: rgb(97,190,223);}
.bg-blue-light{background-color: rgb(162,218,234);}
.bg-prune-light{background-color: rgb(163,116,148);}
.bg-prune{background-color: rgb(145,33,92);}
/* .bg-prune-dark{background-color: rgb(91,19,60);} */
.bg-prune-dark{background-color: rgb(60,0,34);} 
.bg-burger{background: url(img/bg-burger.svg);}
.bg-none{background: none;}
.bg-white{background-color: #fff;}
.bg-prune-dark-op70{background-color: rgba(91,19,60,.8);}
.bg-white-op40{background-color: rgba(255,255,255,.4);}
.bg-graphiste{background: url(img/graphiste-h576.jpg) left top no-repeat;    }
.bg-guitare{background: url(img/guitare-md.png) left bottom 1rem no-repeat;}
.bg-cover{background-size: cover !important;}
a:hover{text-decoration: none;}
.responsive{width:100%; height:auto;}
#submit_button{width: 100%!important;}
/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url('font/BebasNeue-Regular.otf') format('otf'),
        url('font/BebasNeue-Regular.woff') format('woff'),
        url('font/BebasNeue-Regular.woff2') format('woff2'),
        url('font/BebasNeue-Regular.ttf') format('ttf');}
h1,h2,h3,.font-family-bebas{font-family: 'BebasNeue';}
h1,h2,h3{margin: 0!important;}
.font-size-56{font-size: 2.5rem;}
h1,.font-size-36{font-size: 2.25rem;}
.font-size-31{font-size: 1.93rem;}
.font-size-24{font-size: 1.5rem;}
.font-size-21{font-size: 1.31rem;}
.font-size-18{font-size: 1.125rem;}
.font-size-13{font-size: .8rem;
}
.line-height{line-height: 1.8rem;}
.bold{font-weight: 600;}

/* Menus */
header{overflow: hidden;}
.fondu{ animation: 0.5s fondu linear;}
@keyframes fondu{
    0% {filter: alpha(opacity=0);
        opacity: 0;}
    100%{filter: alpha(opacity=100);
        opacity: 100;}
}
.fondu-out{ animation: 0.5s fondu-out linear;}
/* @keyframes fondu-out{
    100%{filter: alpha(opacity=100);
        opacity: 100;}
    0% {filter: alpha(opacity=0);
        opacity: 0;}    
} */
#btnScrollToTop{
    /* display: none;  */
    position: fixed;}
#navbarTop ul li a,#navigation ul li a{ color: white;}
#navbarTop ul li a:hover,#navigation ul li a:hover{ color: rgb(97,190,223);}
.nav-top{position: absolute;    box-shadow: 0 0 1.3rem rgb(30,2,18,.8);}
.sticky { position: fixed; top: 0; width: 100%; z-index: 1500;}
.dis-none{display:none;}
.dis-block{display: block; }
.logo-akaleya{background: url(img/akaleya-logo-menu.png) no-repeat; width: 200px; height: 52px;}
.logo-akaleya:hover{background: url(img/akaleya-logo-menu.png) no-repeat; }
.menu-nav ul li a{padding-left: 1rem;}
.menu-nav ul li a:hover{color: rgba(97,190,223); text-decoration: none;}
#navigation{
    position: fixed;
    z-index: 1500;
    width: 200vw;
    height: 110vh;
    right: -50%;
}
#navigation ul{padding-right: 35%;}
.burger {
    margin: 0;
    position: absolute;
    top: 3%;
    right : 7%; /*20%*/
    z-index: 2000;
    cursor: pointer;
    width: 4.75rem;
    height: 4.75rem;
    padding-top: .8rem;
}
.display-none{display:none;}
.display-flex{display: flex; flex-direction: column;}
.burger span:last-child {margin-bottom:0px;}
.isclosed{transform: none; 
    width: 35px;
    height: 4px;
    display: block;
    margin-bottom: 6px;
}
.isopen-burger1{transform: skew(5deg) translateY(12px) rotate(45deg);}
.isopen-burger2{display: none;}
.isopen-burger3{transform: skew(5deg) translateY(2px) rotate(-45deg);}
.isclosed2{transform: none; 
    width: 35px;
    height: 4px;
    display: block;
    margin-bottom: 6px;
}
/* scroll */
  /* scroll-container {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
  } */
/* Animation du  logo : rotation infini */
.rotate-90-cw {	animation: rotate-90-cw 60s linear infinite both; }
 @keyframes rotate-90-cw {
    0% {transform: rotate(0); }
    100% {transform: rotate(180deg);}
  }
/* SERVICES */
#services-graphisme .title,#services-web .title,#services-conseils .title{height: 37px!important; }
#services h3{color:rgb(97,190,223);}
#services p {text-align: justify;}
/* PORTFOLIO */
#nav-portfolio li a{color: rgb(97,190,223);}
#nav-portfolio li a:hover{color: rgb(60,0,34);}
.h-250{height:250px;}
.border{border: solid 1px #b2b2b2 !important;}
#portfolio p {text-align: justify ; 
}
.rumbleinn{background: url(img/rumbleinn-min.jpg)  no-repeat center;}
/* Contact */
.bg-contact{   background: linear-gradient( rgb(163,116,148) 58%, rgb(162,218,234) 42%);   border-top: solid 2px #58133C}
.btn-portfolio{ top:0;}
input{padding: 1rem 0; height: 40px;}
#contact .w-75{width: 100%!important;}
.text-success,.text-success:hover{color:#5b133c!important}
.text-danger,.text-danger:hover{color:#e71600!important}
#form-submit,.btn-retour{width: 100%;}
#form-submit:hover,.btn-retour{ background-color: rgba(97,190,223); color: #58133C;}
.envoi{ top: 26vh; width: 100vw;}
.w-66px{width: 66px;height: 66px;}
.github, .linkedin, .facebook, .instagram{background-size: contain; background-repeat: no-repeat;}
.github{    background-image: url(img/logo-github.svg);}
.github:hover{ background-image: url(img/logo-github-hover.svg);}
.linkedin{ background-image: url(img/logo-lindekin.svg);}
.linkedin:hover{ background-image: url(img/logo-lindekin-hover.svg);}
.facebook {background-image: url(img/logo-facebook.svg);}
.facebook:hover{ background-image: url(img/logo-facebook-hover.svg);}
.instagram {background-image: url(img/logo-instagram.svg);}
.instagram:hover{ background-image: url(img/logo-instagram-hover.svg);}
.grecaptcha-badge{visibility: hidden;}
/* FOOTER */
#footer-menu-legalenotice li a{color: rgb(97,190,223);}
#footer-menu-legalenotice li a:hover{ color: #FFDF30;}
#copy-akaleya{color: #fff;}
#copy-akaleya:hover{color: rgb(97,190,223);}
/* sm */
@media only screen and (min-width: 576px){
    .bg-graphiste{background: url(img/graphiste-h576.jpg) left top no-repeat;    }
    .pb-6{padding-bottom: 0;}
    .border-bottom{border-bottom: solid 1px rgb(207, 207, 207)!important;}
    .bg-contact{background: linear-gradient( rgb(163,116,148) 58%, rgb(162,218,234) 42%);}
    #navigation ul{padding-right: 40%;}
    .bg-guitare{background: url(img/guitare-sm.png) left bottom 1rem no-repeat;}

}
/* md */
@media only screen and (min-width: 768px){
    .pb-6{padding-bottom: 4rem;}
    .pb-sm-6{padding-bottom: 0!important;}
    .font-size-56{font-size: 3.5rem;}
    .bg-graphiste{background: url(img/graphiste-h768.jpg) left top no-repeat;    }
    .bg-contact{background: linear-gradient(0.25turn, rgb(163,116,148) 50%, rgb(162,218,234) 50%);
         border-top: solid 2px #58133C}
    #contact .w-75{width: 75%!important;}
    #portfolio p {width:100%!important;}
    /* .responsive{width: 100%;} */
    /* #portfolio .row{width: auto;} */
    .bg-guitare{background: url(img/guitare-md.png) left bottom 1rem no-repeat;}

}
/* lg */
@media (min-width: 992px) { 
    .bg-graphiste{height: 100vh; background: url(img/graphiste-h992.jpg) left top no-repeat; background-attachment: fixed;}
    .bg-guitare{background: url(img/guitare-lg.png) left bottom 1rem no-repeat;}
 }
/* xl */
@media (min-width: 1200px) {
    .bg-graphiste{height: 100vh; background: url(img/graphiste-h1024.jpg) left top no-repeat; background-attachment: fixed;}
    .font-size-18{font-size: 1.3rem;}

}
